<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "../css/style.css">
    <style>

    </style>
</head>
<body>
    <div class = "container-fluid">
        <div class = "row main">
            <div class = "col-md-9 left">
            <div class = "row set">
                <div class = "col-md-3">
                    <img class = "thumb-nail" src = "" alt = "no image">
                </div>
                <div class = "col-md-9 news-content">
                    <h3>TITLE</h3>
                    <p>Sub Title</p>
                    <br>
                    <p class = "message">
                        message content
                    </p>
                    <br><br>
                    <button class = "continue-reading-button"> Continue Reading </button>
                </div>
                <div class = "col-md-8">

                </div>
            </div>
                
            </div>
            <div class = "col-md-3 right">
                
                    <h3> Select Category</h3>
                    <select id = "category">
                        <option>All</option>
                    </select>
                
            </div>
        </div>
    </div>
</body>
</html>